<div class="footer-wrap">
  <div class="container">
    <div class="footer">
      <div class="footer-header">
        <a class="logo" href="#"><%= image_tag "logo-montis-footer.svg" %></a>
        <div class="footer-header-menu">
          <ul>
            <li>
              <a href="#">О нас</a>
            </li>
            <li>
              <a href="#">Условия</a>
            </li>
            <li>
              <a href="#">Вопрос-ответ</a>
            </li>
            <li>
              <a href="#">отзывы</a>
            </li>
            <li>
              <a href="#">Онлайн одобрение</a>
            </li>
            <li>
              <a href="#">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-content">
        <div class="footer-info">
          <ul>
            <li>ООО "Микрокредитная компания Монтис"</li>
            <li>ИНН 7726399483</li>
            <li>КПП 772601001</li>
            <li>ОГРН 1177746301457</li>
            <li>Р/c 40701810388000000231</li>
            <li>К/с 30101810300000000341</li>
            <li>БИК 044525341</li>
            <li>Банк: АКБ «Фора-Банк» АО</li>
            <li>Город банка: Москва</li>
            <li>Юр. адрес: 115191 г. Москва, пер. Духовской, д. 17, стр. 15, этаж 2, ком. 11</li>
          </ul>
        </div>
        <div class="footer-items">
          <ul class="footer-item">
            <li>
              <a href="#">Общие условия договора займа</a>
            </li>
            <li>
              <a href="#">Правила о порядке и условиях предоставления потребительских займов</a>
            </li>
            <li>
              <a href="#">Свидетельство о внесении сведений о юридическом лице в Государственный Реестр Микрофинансовых Организаций</a>
            </li>
            <li>
              <a href="#">Положение о раскрытии информации</a>
            </li>
          </ul>
          <ul class="footer-item">
            <li>
              <a href="#">Политика в отношении обработки и защиты персональных данных</a>
            </li>
            <li>
              <a href="#">Свидетельство о членстве в Союзе "Микрофинансовый Альянс "Институты развития малого и среднего бизнеса""</a>
            </li>
            <li>
              <a href="#">Политика конфиденциальности</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="bottom">
        © 2017, Монтис
      </div>
    </div>
  </div>
</div>
