<div class="showcase-inner-wrap question_showcase">
  <div class="showcase-inner" style="background-image: url(<%= image_path 'im-header-3.jpg' %>)">
    <div class="container">
      <div class="showcase-inner-content">
        <h2>ДЕНЬГИ Под залог</h2>
        <p>автомобиля</p>
        <div class="showcase-inner-text">Автомобиль остается у Клиента,<br> на хранение передается только ПТС</div>
        <div class="showcase-content-price">
          до <span>1 500 000 <i>₽</i></span>
        </div>
        <a href="#">Получить одобрение онлайн</a>
      </div>
    </div>
  </div>
</div>

<!-- Question -->

<div class="question-wrap">
  <div class="container">
    <div class="question">
      <a href="#" class="link_back"><span>&#60;</span>назад</a>
      <h2 class="head question-head">Вопрос-ответ</h2>
      <div class="question-items">
        <div class="question-item">
          <div class="question-item__name">Вопрос</div>
          <h2 class="question-item__head">Основные условия</h2>
          <div class="question-answer">
            <span>Ответ</span>
            <p>
              Сумма займа: до 500 000 рублей<br>
              Максимальная сумма займа: до 80% от рыночной стоимости транспортного средства<br>
              Срок займа: 2–24 месяцев<br>
              Дополнительные комиссии: отсутствуют<br>
              Требования по дополнительному страхованию: отсутствуют<br>
            </p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">Вопрос</div>
          <h2 class="question-item__head">Влияет ли кредитная история на решение о выдаче займа? Как получить займ?</h2>
          <div class="question-answer">
            <span>Ответ</span>
            <p>Компания лояльно относится к кредитной истории заемщиков. Каждая заявка рассматривается индивидуально.</p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">Вопрос</div>
          <h2 class="question-item__head">Как получить деньги по займу?</h2>
          <div class="question-answer">
            <span>Ответ</span>
            <p>В целях безопасности и удобства займ выдается на банковскую карту, с помощью которой можно в любой момент обналичить сумму займа в банкомате.</p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">Вопрос</div>
          <h2 class="question-item__head">Какие есть дополнительные расходы по договору займа?</h2>
          <div class="question-answer">
            <span>Ответ</span>
            <p>В нашей компании у заемщика нет дополнительных расходов. Мы не требуем оформлять КАСКО или ОСАГО на транспортное средство/самоходную машину, страховать жизнь и здоровье заемщика.</p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">Вопрос</div>
          <h2 class="question-item__head">Какие требуются документы для оформления займа?</h2>
          <div class="question-answer">
            <span>Ответ</span>
            <p>
              Требования к предмету залога (ТС)<br>
              Для оформления заявки на займ под залог транспортного средства вам потребуются паспорт РФ, ПТС (паспорт транспортного средства) и СТС (свидетельство о регистрации транспортного средства).
            </p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">Вопрос</div>
          <h2 class="question-item__head">Вносится ли запись в ПТС/ПСМ о залоге?</h2>
          <div class="question-answer">
            <span>Ответ</span>
            <p>Нет, в ПТС транспортного средства никакие записи компанией не вносятся.</p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">Вопрос</div>
          <h2 class="question-item__head">Требуется ли переоформление транспортного средства для получения займа?</h2>
          <div class="question-answer">
            <span>Ответ</span>
            <p>
              Нет, не требуется. В соответствие с законом для получения денежных средств под залог транспортного средства требуется только заключение договора займа и договора залога.
            </p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">Вопрос</div>
          <h2 class="question-item__head">Можно ли оформить займ по генеральной доверенности на транспортное средство?</h2>
          <div class="question-answer">
            <span>Ответ</span>
            <p>
              Нет, это невозможно, так как займ оформляется исключительно на собственника транспортного средства.
            </p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">Вопрос</div>
          <h2 class="question-item__head">Требования к заемщику</h2>
          <div class="question-answer">
            <span>Ответ</span>
            <p>
              Гражданство РФ;<br>
              Возраст 21 - 65 лет;<br>
              Физическое лицо, индивидуальный предприниматель;<br>
              Постоянная регистрация в регионе присутствия компании.<br>
            </p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">Вопрос</div>
          <h2 class="question-item__head">Требования к залогу</h2>
          <div class="question-answer">
            <span>Ответ</span>
            <p>
              · ТС/СМ принадлежит Заемщику на праве собственности, что подтверждается оригиналом паспорта транспортного средства (ПТС);<br>
              · ТС российского и иностранного производства категорий В, C, D;<br>
              · Для ТС категории B - дата выпуска ТС: автомобили иностранного производства не старше 15 лет, отечественного производства не старше 7 лет;<br>
              · Для ТС категории C, D и для СМ категории B, C, D, Е, F - дата выпуска рассматривается индивидуально;<br>
              ТС/СМ находится в исправном техническом состоянии и не имеет существенных повреждений конструктивных элементов кузова
            </p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">Вопрос</div>
          <h2 class="question-item__head">Заберут ли транспортное средство если будет допущена просрочка?</h2>
          <div class="question-answer">
            <span>Ответ</span>
            <p>
              Да, это возможно в случае не погашения задолженности по займу в длительный срок. Компания вправе направить ходатайство о наложении ареста на транспортное средство и вернуть денежные средства через суд путем реализации предмета залога.
            </p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">Вопрос</div>
          <h2 class="question-item__head">Каков размер штрафа/пени при просрочке платежа?</h2>
          <div class="question-answer">
            <span>Ответ</span>
            <p>
              Начисляется неустойка (пени) из расчета 20% годовых (~0,05479% в день) от суммы просроченной задолженности (основного долга и процентов за пользование займом) за каждый календарный день просрочки, начиная с даты, следующей за датой очередного неисполненного в срок платежа.
            </p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">Вопрос</div>
          <h2 class="question-item__head">Возможно ли досрочное погашение займа </h2>
          <div class="question-answer">
            <span>Ответ</span>
            <p>
              Да, конечно. Погасить займ досрочно можно в любой день без каких-либо ограничений. Сумма процентов будет пересчитана за фактическое количество дней пользования займом.
            </p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">Вопрос</div>
          <h2 class="question-item__head">Можно ли оформить 2-й займ без погашения действующего?</h2>
          <div class="question-answer">
            <span>Ответ</span>
            <p>
              Вы можете оформить 2-й займ как на действующий залог, так и на новое транспортное средство находящиеся в вашей собственности. Минимальная сумма 2-го займа 75 000 руб.
            </p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">Вопрос</div>
          <h2 class="question-item__head">Как быстро вернуть ПТС после погашения займа?</h2>
          <div class="question-answer">
            <span>Ответ</span>
            <p>
              После погашения займа оформляется акт возврата документа и ПТС возвращается собственнику в течение суток после поступления платежа на счет компании.
            </p>
          </div>
        </div>
      <div class="question-form">
        <h2 class="question-form__head">Задать вопрос</h2>
        <form action="post">
          <div class="question-inputs-wrap">
            <div class="question-inputs">
              <div class="question-input">
                <input type="text" placeholder="Ваше имя" onfocus="placeholder='';" onblur="placeholder='Ваше имя';" />
              </div>
              <div class="question-input star">
                <input type="text" placeholder="Телефон или электронная почта" onfocus="placeholder='';"и onblur="placeholder='Телефон или электронная почта';" />
              </div>
            </div>
            <textarea placeholder="Ваш вопрос" onfocus="placeholder='';" onblur="placeholder='Ваш вопрос';"></textarea>
          </div>
          <div class="question-bottom">
            <button type="submit">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
