<div class="showcase-inner-wrap question_showcase">
  <div class="showcase-inner" style="background-image: url(<%= image_path 'im-header-3.jpg' %>)">
    <div class="container">
      <div class="showcase-inner-content">
        <h2>ДЕНЬГИ Под залог</h2>
        <p>автомобиля</p>
        <div class="showcase-inner-text">Автомобиль остается у Клиента,<br> на хранение передается только ПТС</div>
        <div class="showcase-content-price">
          до <span>500 000 <i>₽</i></span>
        </div>
        <a href="#">Получить одобрение онлайн</a>
      </div>
    </div>
  </div>
  <div class="showcase-inner" style="background-image: url(<%= image_path 'im-header-3.jpg' %>)">
    <div class="container">
      <div class="showcase-inner-content">
        <h2>ДЕНЬГИ Под залог</h2>
        <p>автомобиля</p>
        <div class="showcase-inner-text">Автомобиль остается у Клиента,<br> на хранение передается только ПТС</div>
        <div class="showcase-content-price">
          до <span>500 000 <i>₽</i></span>
        </div>
        <a href="#">Получить одобрение онлайн</a>
      </div>
    </div>
  </div>
  <div class="showcase-inner" style="background-image: url(<%= image_path 'im-header-3.jpg' %>)">
    <div class="container">
      <div class="showcase-inner-content">
        <h2>ДЕНЬГИ Под залог</h2>
        <p>автомобиля</p>
        <div class="showcase-inner-text">Автомобиль остается у Клиента,<br> на хранение передается только ПТС</div>
        <div class="showcase-content-price">
          до <span>500 000 <i>₽</i></span>
        </div>
        <a href="#">Получить одобрение онлайн</a>
      </div>
    </div>
  </div>
</div>

<!-- Question -->

<div class="question-wrap reviews">
  <div class="container">
    <div class="question">
      <a href="#" class="link_back"><span>&#60;</span>назад</a>
      <h2 class="head question-head">Отзывы</h2>
      <div class="question-items">
        <div class="question-item">
          <div class="question-item__name">2 ноя 2017</div>
          <div class="question-answer">
            <span>Сергей. Т</span>
            <p>Этот ломбард мне посоветовал знакомый, он уже пользовался вашими услугами. Вот и мне пришлось обратиться так как срочно понадобились деньги. Оставил заявку на сайте, cразу же перезвонили и проконсультировали.</p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">12 окт 2017</div>
          <div class="question-answer">
            <span>Ольга. В</span>
            <p>Очень удобное расположение офиса. Приехала оценить свои автомобиль, быстро оценили, предложили хорошую цену, выше чем остальные. Большое спасибо за вашу работу. Рекомендую!</p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">17 сен 2017</div>
          <div class="question-answer">
            <span>Антон. Ф</span>
            <p>Адекватно оценили стоимость моего прадо и доступно донесли всю важную информацию, именно по этому я воспользовался услугами ломбарда. еще переплата получилась меньше чем у других.</p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">2 ноя 2017</div>
          <div class="question-answer">
            <span>Сергей. Т</span>
            <p>Этот ломбард мне посоветовал знакомый, он уже пользовался вашими услугами. Вот и мне пришлось обратиться так как срочно понадобились деньги. Оставил заявку на сайте, cразу же перезвонили и проконсультировали.</p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">12 окт 2017</div>
          <div class="question-answer">
            <span>Ольга. В</span>
            <p>Очень удобное расположение офиса. Приехала оценить свои автомобиль, быстро оценили, предложили хорошую цену, выше чем остальные. Большое спасибо за вашу работу. Рекомендую!</p>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">17 сен 2017</div>
          <div class="question-answer">
            <span>Антон. Ф</span>
            <p>Адекватно оценили стоимость моего прадо и доступно донесли всю важную информацию, именно по этому я воспользовался услугами ломбарда. еще переплата получилась меньше чем у других.</p>
          </div>
        </div>
      </div>
      <a href="#" class="question-link">показать еще</a>
    </div>
  </div>
</div>
