@font-face {
    font-family: 'ProximaNova';
    src: font-url('ProximaNova-Regular.eot');
    src: font-url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        font-url('ProximaNova-Regular.woff') format('woff'),
        font-url('ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: font-url('ProximaNova-Semibold.eot');
    src: font-url('ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        font-url('ProximaNova-Semibold.woff') format('woff'),
        font-url('ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: font-url('ProximaNova-Extrabld.eot');
    src: font-url('ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
        font-url('ProximaNova-Extrabld.woff') format('woff'),
        font-url('ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: font-url('ProximaNova-Light.eot');
    src: font-url('ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        font-url('ProximaNova-Light.woff') format('woff'),
        font-url('ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: font-url('ProximaNova-Black.eot');
    src: font-url('ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
        font-url('ProximaNova-Black.woff') format('woff'),
        font-url('ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: font-url('HelveticaNeueCyr-Bold.eot');
    src: font-url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        font-url('HelveticaNeueCyr-Bold.woff') format('woff'),
        font-url('HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
