/* Showcase */

.showcase {
  padding: 8.7rem 0 20rem;
  position: relative;
  &-wrap {
    background-position: 50%;
    background-size: cover;
  }
  &-content {
    h2 {
      font-size: 3.1rem;
      font-weight: 800;
      letter-spacing: 0.31rem;
      color: #323845;
      margin: 0 0 2.5rem;
    }
    p {
      font-size: 2.05rem;
      letter-spacing: 0.23rem;
      line-height: 1.3;
      color: #323845;
      margin: 0 0 2.8rem;
      text-transform: uppercase;
    }
    &-price {
      font-size: 2.2rem;
      color: #323845;
      margin: 0 0 2.5rem;
      span {
        font-size: 3.4rem;
        margin: 0 0 0 0.38rem;
        i {
          font-style: normal;
          font-size: 1.667rem;
          font-family: 'HelveticaNeue';
          font-weight: 500;
        }
      }
    }
    a {
      line-height: 2.77rem;
      background: #fc447c;
      font-size: 0.8rem;
      font-weight: bold;
      letter-spacing: 0.11rem;
      color: #fff;
      padding: 0 2.77rem;
      text-transform: uppercase;
      &:hover {
        background: #c03b63;
      }
    }
  }
  &-info {
    width: 20rem;
    position: absolute;
    bottom: 2.8rem;
    left: 0;
    display: flex;
    img {
      flex-shrink: 0;
    }
    &-content {
      flex-grow: 10;
      padding: 0 0 0 1.11rem;
      p {
        display: block;
        font-size: 0.8rem;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.04rem;
        margin: 0 0 0.33rem;
      }
      a {
        font-size: 1.58rem;
        color: #fff;
        font-weight: 900;
        letter-spacing: 0.095rem;
        span {
          font-weight: 400;
        }
        &:hover {
          color: #585bd3;
        }
      }
    }
  }
  &-arrow {
    position: absolute;
    bottom: 2.2rem;
    left: 50%;
    margin-left: -0.61rem;
  }
  &-inner {
    height: 35rem;
    background-size: cover;
    background-position: 50%;
    &-wrap {
      position: relative;
      .slick-dots {
        position: absolute;
        bottom: 1.66rem;
        left: 49%;
        z-index: 5;
        li {
          display: inline-block;
          vertical-align: middle;
          margin: 0 0.375rem 0 0;
          width: 0.375rem;
          height: 0.375rem;
          background: #ced0da;
          border-radius: 50%;
          cursor: pointer;
          &:last-child {
            margin-right: 0;
          }
          button {
            display: none;
          }
        }
        .slick-active {
          background: #fff;
        }
      }

    }
    &-content {
      width: 51rem;
      color: #fff;
      padding: 5rem 0 0;
      .showcase-content-price {
        color: #fff;
      }
     h2 {
        font-size: 3.1rem;
        font-weight: 800;
        line-height: 1.25;
        text-transform: uppercase;
         span {
          font-size: 3.1rem;
          font-weight: 400;
          line-height: 1.25;
          text-transform: uppercase;
        }
      }
      p {
        font-size: 3.1rem;
        font-weight: 400;
        margin: 0 0 2.8rem;
        line-height: 1.25;
        text-transform: uppercase;
      }
      a {
        line-height: 2.77rem;
        background: #fc447c;
        font-size: 0.8rem;
        font-weight: bold;
        letter-spacing: 0.11rem;
        color: #fff;
        padding: 0 2.77rem;
        text-transform: uppercase;
        &:hover {
          background: #c03b63;
        }
      }
    }
    &-text {
      font-size: 1.7rem;
      font-weight: 600;
      letter-spacing: 0.027rem;
      color: #fff;
      line-height: 1.3;
      margin: 0 0 2rem;
    }
  }
}

/* Main about */

.main-about {
  padding: 4.2rem 0 0;
  &-items {
    display: flex;
  }
  &-content {
    flex-grow: 10;
    padding: 0 4.8rem 0 0;
    h2 {
      color: #323845;
      font-size: 1.1rem;
      margin: 0 0 1.8rem;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 0.02rem;
    }
    b {
      display: block;
      font-weight: 600;
      font-size: 1.1rem;
      margin: 0 0 1.5rem;
      letter-spacing: 0.02rem;
    }
    p {
      font-size: 0.83rem;
      line-height: 1.4;
      margin: 0 0 1.1rem;
      letter-spacing: 0.02rem;
    }
    span {
      display: block;
      letter-spacing: 0.08rem;
      font-size: 0.72rem;
      line-height: 1.6;
      margin: 2.2rem 0 1rem;
    }
  }
  &-number {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.12rem;
    color: #323845;
  }
  &-img {
    font-size: 0;
    margin: -0.44rem 0 0;
    width: 29.8rem;
    flex-shrink: 0;
  }
}

/* Why */

.why {
  padding: 4.2rem 0 3.25rem;
  &-wrap {
    background: image-url('im-home-footer.png') no-repeat 50%;
    background-size: cover;
  }
  &-head {
    color: #fff;
    margin: 0 0 2.2rem;
  }
  &-items {
    display: flex;
  }
  &-item {
    width: 13rem;
    position: relative;
    padding: 0 0 3rem;
    margin: 0 8.8rem 0 0;
    &:last-child {
      width: 10rem;
      margin-right: 0;
    }
    &-img {
      height: 2.5rem;
      line-height: 2.5rem;
      margin: 0 0 1.4rem;
      img {
        display: inline-block;
        vertical-align: middle;
        line-height: 2.5rem;
      }
    }
    p {
      font-size: 0.83rem;
      font-weight: 600;
      letter-spacing: 0.027rem;
      color: #fff;
      line-height: 1.5;
    }
    &-num {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 1.55rem;
      font-weight: 600;
      letter-spacing: 0.12rem;
      color: #fff;
      span {
        font-family: 'HelveticaNeue';
        font-size: 0.83rem;
        font-weight: bold;
        font-weight: 800;
      }
    }
  }
  &_inner {
    background: none;
    .why {
      padding: 0.83rem 0 4.2rem;
    }
    .why-item p,
    .why-item-num {
      color: #323845;
    }
  }
}

/* About */

.about {
  padding: 2.4rem 0 0;
  &-head {
    margin: 0 0 2.4rem;
  }
  &-content {
    padding: 0 3rem 2.22rem 0;
    margin: 0 0 2.22rem;
    border-bottom: 1px solid #dfe3e9;
    p {
      font-size: 1.3rem;
      line-height: 1.25;
      margin: 0 0 1.3rem;
      color: #323845;
      b {
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    span {
      font-weight: 600;
    }
  }
}

/* Conditions */

.conditions {
  padding: 2.33rem 0 0;
  &-head {
    margin: 0 0 -0.3rem;
  }
  &-item {
    border-bottom: 1px solid #dfe3e9;
    margin: 2.5rem 0;
    &:last-child {
      border: none;
      margin-bottom: 1rem;
    }
    &.first {
      .part-item {
        width: 43rem;
        &:last-child {
          width: 20.5rem;
        }
      }
    }
    &.second {
      padding: 0 9.6rem 0 0;
    }
    &.third {
      .part-item {
        width: 33.2rem;
      }
    }
  }
  .part {
    margin: 0 0 1.94rem;
    &-wrap {
      display: flex;
      justify-content: space-between;
    }
    &-items {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
    }
    &__head {
      font-weight: 800;
      font-size: 1.68rem;
      color: #323845;
      text-transform: uppercase;
      margin: 0 0 2rem;
    }
    &-head {
      display: flex;
      align-items: center;
      font-weight: 600;
      color: #7f8fa4;
      margin: 0 0 0.8rem;
      span {
        margin: 0.1rem 0 0 0.44rem;
        line-height: 0.72rem;
        font-size: 0.72rem;
      }
    }
    p {
      line-height: 1.3;
    }
    ul {
      li {
        line-height: 1.7;
        padding: 0 0 0 1.2rem;
        position: relative;
        &:before {
          content: '';
          display: block;
          background: #000;
          width: 0.188rem;
          height: 0.188rem;
          position: absolute;
          top: 43%;
          left: 0;
          border-radius: 50%;
        }
      }
    }
  }
  &_showcase {
    .showcase-inner-content {
      padding: 5.3rem 0 0;
    }
    .showcase-inner-content p {
      margin: 0 0 5.3rem;
    }
  }
}

/* Question */

.question {
  padding: 2.4rem 0 3.8rem;
  &-head {
    margin: 0 0 0.88rem;
  }
  &-item {
    padding: 1.7rem 0;
    border-bottom: 1px solid #dfe3e9;
    &:last-child {
      border: none;
    }
    &__name {
      font-size: 0.72rem;
      font-weight: 600;
      letter-spacing: 0.022rem;
      color: #7f8fa4;
      margin: 0 0 1rem;
      text-transform: uppercase;
    }
    &__head {
      font-size: 1.22rem;
      font-weight: 600;
      letter-spacing: 0.075rem;
      color: #323845;
      margin: 0 0 1.5rem;
    }
  }
  &-answer {
    margin: 0 0 0;
    padding: 0 0 0 1.5rem;
    position: relative;
    &:before {
      content: '';
      display: block;
      background: #585bd3;
      width: 0.16rem;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    span {
      display: block;
      margin: 0 0 0.55rem;
      font-size: 0.72rem;
      font-weight: 600;
      letter-spacing: 0.08rem;
      color: #7f8fa4;
      margin: 0 0 0.8rem;
      text-transform: uppercase;
    }
    p {
      line-height: 1.33;
      letter-spacing: 0.027rem;
      color: #323845;
    }
  }
  &_showcase {
    .showcase-inner-content {
      padding: 5.3rem 0 0;
    }
    .showcase-inner-content p {
      margin: 0 0 1.8rem;
    }
  }
  &-form {
    padding: 2rem 0 0;
    &__head {
      font-size: 2.1rem;
      color: #323845;
      margin: 0 0 3rem;
      text-transform: uppercase;
      font-weight: 400;
    }
    textarea {
      flex-grow: 10;
      height: 5.75rem;
      font: 400 0.77rem 'ProximaNova';
      border: 1px solid #dfe3e9;
      color: #7f8fa4;
      padding: 0.44rem 0.66rem 0;
      &::-webkit-input-placeholder {
        color: #7f8fa4;
      }
      &:-moz-placeholder {
        color: #7f8fa4;
      }
      &::-moz-placeholder {
        color: #7f8fa4;
      }
      &:-ms-input-placeholder {
        color: #7f8fa4;
      }
    }
  }
  &-inputs {
    display: inline-block;
    vertical-align: top;
    width: 23.75rem;
    margin: 0 1.11rem 0 0;
    flex-shrink: 0;
    &-wrap {
      display: flex;
      margin: 0 0 0.2rem;
    }
  }
  &-input {
    margin: 0 0 1.11rem;
    position: relative;
    &.star {
      &:after {
        content: '*';
        display: block;
        color: #7f8fa4;
        font-size: 1rem;
        font-weight: 800;
        position: absolute;
        top: 0.3rem;
        right: 0.7rem;
      }
    }
    input {
      width: 100%;
      border: 1px solid #dfe3e9;
      font: 400 0.77rem/2.15rem 'ProximaNova';
      color: #7f8fa4;
      padding: 0 0.66rem;
      &::-webkit-input-placeholder {
        color: #7f8fa4;
      }
      &:-moz-placeholder {
        color: #7f8fa4;
      }
      &::-moz-placeholder {
        color: #7f8fa4;
      }
      &:-ms-input-placeholder {
        color: #7f8fa4;
      }
    }
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      border: none;
      cursor: pointer;
      transition: 300ms;
      background: #fc447c;
      font: 400 0.77rem/2.9rem 'ProximaNova';
      padding: 0 4.65rem;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.07rem;
      &:hover {
        background: #c03b63;
      }
    }
    .checkbox {
      display: inline-block;
      vertical-align: top;
      width: 2.25rem;
      height: 1.25rem;
      position: relative;
      flex-shrink: 0;
      input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 5;
        cursor: pointer;
        &:checked + span {
          background: #585bd3;
          &:before {
            position: absolute;
            left: 100%;
            background: #fff;
            margin-left: -1.1rem;
          }
        }
      }
      span {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: 300ms;
        background: #fff;
        border-radius: 1rem;
        border: 1px solid #585bd3;
        &:before {
          content: '';
          display: block;
          background: #fff;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 1rem;
          background: #585bd3;
          border: 1px solid #585bd3;
          transition: 300ms;
        }
      }
    }
    .form-check {
      display: flex;
      align-items: center;
      label {
        cursor: pointer;
        font-size: 0.8rem;
        color: #354052;
        margin: 0 0 0 1rem;
      }
    }
  }
}

/* Reviews */

.reviews {
  .question {
    padding-bottom: 0.3rem;
    &-head {
      margin: 0 0 0.5rem;
    }
    &-item {
      padding: 2rem 0;
    }
    &-answer {
      padding: 0;
      margin: 0;
      &:before {
        display: none;
      }
      span {
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: 0.027rem;
        color: #323845;
        text-transform: none;
      }
    }
  }
}

/* Ð¡ertificate */

.certificate {
  width: 120%;
  margin-left: -10%;
  margin-right: -10%;
  padding-top: 2rem;
  &-wrap {
    overflow: hidden;
  }
  ul {
    display: flex;
    justify-content: center;
  }
  li {
    width: 20%;
    text-align: center;
    padding: 0 1.5rem;
  }
  a {
    position: relative;
    img {
      width: 100%;
      display: inline-block;
      vertical-align: bottom;
      box-shadow: 0 -2px 16px 0 rgba(0, 0, 0, 0.08);
    }
    &:after {
      content: '';
      display: block;
      background-image: linear-gradient(rgba(88, 91, 211, 0.53), rgba(88, 91, 211, 0.53));
      background-blend-mode: multiply;
      box-shadow: 0 -2px 16px 0 rgba(0, 0, 0, 0.08);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
    }
    &:before {
      content: '';
      display: block;
      background: image-url('ic-searchplus.png') no-repeat 50%;
      width: 1.375rem;
      height: 1.438rem;
      position: absolute;
      top: 50%;
      margin-top: -0.45rem;
      left: 50%;
      margin-left: -0.45rem;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
    }
    &:hover {
      transform: scale(1.1);
      img {
        box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.08);
      }
      &:after,
      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

/* Map */

.map {
  font-size: 0;
  iframe {
    width: 100%;
    height: 26.2rem;
    border: none;
  }
}

/* Contacts */

.contacts {
  padding: 2.4rem 0 0;
  &_showcase {
    .showcase-inner-content {
      padding: 8.7rem 0 0;
    }
    .showcase-inner-content h2 {
      margin: 0 0 2.4rem;
    }
  }
  &-head {
    margin: 0 0 2.8rem;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1.7rem;
  }
  &-info {
    width: 24.813rem;
    &__head {
      font-size: 1.12rem;
      font-weight: 600;
      color: #323845;
      margin: 0 0 1.5rem;
    }
    span {
      display: block;
      color: #323845;
      text-transform: uppercase;
      margin: 0 0 0.27rem;
    }
    &-item {
      margin: 2.1rem 0 0;
      h3 {
        font-size: 0.72rem;
        font-weight: 600;
        color: #7f8fa4;
        margin: 0 0 0.8rem;
        text-transform: uppercase;
      }
      p {
        line-height: 1.3;
      }
      i {
        font-style: normal;
        color: #323845;
        text-transform: uppercase;
      }
    }
  }
  &-items {
    width: 36.25rem;
  }
  &-item {
    padding: 2.5rem 0;
    border-bottom: 1px solid #dfe3e9;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border: none;
    }
    .docs {
      &-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.55rem 0 0;
      }
      &-item {
        display: flex;
        img {
          flex-shrink: 0;
        }
        &-content {
          flex-grow: 10;
          padding: 0 0 0 0.7rem;
          h2 {
            font-size: 0.9rem;
            font-weight: 400;
            margin: 0 0 0.1rem;
            color: #323845;
          }
          a {
            font-size: 0.7rem;
            font-weight: 600;
            color: #7f8fa4;
            position: relative;
            &:after {
              content: '';
              display: block;
              background: image-url('ic-download.png') no-repeat left;
              width: 14px;
              height: 14px;
              position: absolute;
              top: -3px;
              right: -20px;
            }
            &:hover {
              color: #fc447c;
              &:after {
                background-position: right;
              }
            }
          }
        }
      }
    }
    &-info {
      display: flex;
    }
    &-contact {
      display: flex;
      margin: 0 6.3rem 0 0;
      &:last-child {
        margin-right: 0;
      }
      img {
        width: 20px;
        height: 20px;
      }
      a {
        font-weight: 600;
        color: #323845;
        margin: 0 0 0 1.12rem;
        &:hover {
          color: #585bd3;
        }
      }
    }
  }
  &-soc {
    display: flex;
    &-item {
      margin: 0 6rem 0 0;
      &:last-child {
        margin-right: 0;
      }
      a {
        margin: 0 1rem 0 0;
        &:hover {
          opacity: .8;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
